# Maven
/target/

# Base de datos H2
*.mv.db
*.trace.db
*.lock.db

# Dependencias y cachés de herramientas JS
node_modules/
.angular/
*.tsbuildinfo

# Logs de npm / yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno locales
/.env

# IDEs y editores
/.idea/
/.vscode/
/pethaven.iml

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de workflow
.atl
/planning/
/odd/
